body{
    background-color: #00a8ff;
}
#water{
    margin: 0 auto;
    margin-top: 50px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    border-radius: 52% 48% 47% 53% / 48% 48% 52% 52%  ;
    box-shadow: inset 10px 20px 30px rgba(0,0,0,0.5),
                10px 10px 20px rgba(0,0,0,0.3),
                15px 15px 30px rgba(0,0,0,0.05),
                inset -10px -10px 15px rgba(255,255,255,0.8);
    animation: action 3s linear infinite alternate;
}
#water::after{
    content: '';
    width: 14px;
    height: 14px;
    position: relative;
    top: 40px;
    right: 25px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 45% 55% 62% 38% / 53% 60% 40% 47%  ;
}
#water::before{
    content: '';
    width: 7px;
    height: 7px;
    position: relative;
    top: 50px;
    right: 30px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 45% 55% 62% 38% / 53% 60% 60% 47%  ;
}
@keyframes action{
    25%{
        border-radius: 40% 60% 40% 60% / 57% 39% 61% 43%  ;
    }
    50%{
        border-radius: 43% 57% 49% 51% / 53% 48% 52% 47%  ;
    }
    75%{
        border-radius: 52% 38% 36% 64% / 56% 56% 44% 44%  ;
    }
}
h1{
    color: aliceblue;
    font-size: xx-large;
    text-align: center;
}
h2 {
    color: cornsilk;
    font-size: large;
    text-align: center;
    font-family: 'Noto Sans Symbols', sans-serif;
}
  
img{
    display: block;
    width: 25vw;
    margin: 0 auto;
}